body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f8;
    color: #333;
    margin: 0;
}

.gif-container {
    text-align: center;
}

.gif-container img {
    max-width: 100%;
    height: auto;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #d38bcf;
    color: white;
}

h2, h3 {
    color: #000000;
}

h1 {
    color: #000000;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
